.event-card {
    transition: transform 0.2s, box-shadow 0.2s;
}

.event-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-selected {
    background-color: rgba(0, 128, 0, 0.2);
    box-shadow: 0 8px 12px rgba(0, 128, 0, 0.3);
}
